<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio - BancAndes</title>
</head>
<body>
    <h1>Bienvenido, <span th:text="${nombreUsuario}"></span>!</h1>
    <h2>Haz iniciado sesión como <span th:text="${rol}"></span></h2>
    
    <!-- Opciones para el administrador -->
    <div>
        <ul>
            <li><a th:href="@{/usuarios/new}" class="btn btn-primary">Agregar Usuario empleado</a></li>
            <li><a th:href="@{/oficinas/new}">Crear oficina</a></li>
            <li><a th:href="@{/puntosAtencion/new}">Crear punto de atencion</a></li>
            <li><a th:href="@{/puntosAtencion/delete}">Borrar punto de atencion</a></li>
            
        </ul>
    </div>

    <div>
        <ul>
            <li><a th:href="@{/usuarios/new}" class="btn btn-primary">Agregar usuario cliente</a></li>
            <li><a th:href="@{/cuentas/new}" class="btn btn-primary">Apertura de una cuenta</a></li>
            <li><a th:href="@{/cuentas/edit}" class="btn btn-primary">Actualizar estado de una cuenta</a></li>
            
        </ul>
    </div>

    <div>
        <ul>


            
        </ul>
    </div>

    
    <div>
        <ul>
            <li><a th:href="@{/operacionesbancarias/new}" class="btn btn-primary">Registrar operación sobre una cuenta </a></li>

            <li><a th:href="@{'/'+ ${id} + '/cuentas'}" class="btn btn-primary">Consultar cuentas</a></li>

            <li><a th:href="@{'/'+ ${id} + '/users'}" class="btn btn-primary">Consultar información </a></li>

        </ul>
    </div>


</body>
</html>
